/*Garrett DiDomizio, Mia Mitchell, Yifei Jiao, Ryan Pritchett Contact: gdidomizio@eagles.usi.edu Last Updated: 3/23/2023*/
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #dd8787;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #68e5b7;
}
/*Font */
h1, h3, h4, h2, p {
    font-family: Outfit,sans-serif;
    text-align: center;
}
h1{
    color: rgb(0 40 86);
    
}
.btn-primary {
  background-color: #002856;
  color: #ffffff;
  border-color: #2e6da4;
  text-align: center;
  margin:auto;
}
.nameinput{
  max-width: 200px;
  text-align: center;
  margin:auto;
}
/*.loginButton {
  height: 54px;
}*/
.recalctuit {
  text-align: left;
  margin:auto;
}
.print {
  text-align: center;
  margin:auto;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
.fees
{
  text-align: center;
}
#emailForm
{
  background-color: rgb(0, 40, 86);
  color: white;
  font-family: Outfit,sans-serif;
  font-size: 20px;
  border: 2px black;
  border-radius: 30px;
  padding: 20px;
  width: 450px;
  height: 325px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
#email
{
  width: 40%;
  margin-left: 13px;
  margin-right: 13px;
  font-family: Outfit,sans-serif;
}
#email:hover
{
  background-color: aliceblue;
}

#emailInfo
{
  width: 90%;
  margin-bottom: 10px;
}